$main-color: #7AB648;
$menu: #F5F5F5;
$content: #fff;
$typography: #353d46;
$shadow: #556270;
$title: #7AB648;
$filter: #E4E4E4;

// development colors
$box1: #E54661;
$box2: #FFA644;
$box3: #998A2F;

// alarms
$alarm-success: #BBCB6F;
$alarm-fail: #C7323B;

